body {
    padding: 0px;
    margin: 0px;
    background-color: #FFFFFF;
    max-width: 1440px;
    margin: auto;
}

h1 {
    margin: 0px;
    padding: 0px;
    margin-left: 120px;
    color: #FFFFFF;
    margin-top: 32px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 700;
    font-size: 80px;
    line-height: 96px;
}
p {
    margin-left: 120px;
    color: #FFFFFF;
}
div {
    padding: 0px;
    margin: 0px;
}
header {
    width: 1440px;
    height: 90px;
    left: 0px;
    top: 0px;
    background: rgba(242, 120, 92, 0.7);
    box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    
}
.logo {
    display: flex;
    margin-left: 120px;
    margin-right: 158px;
}
.logoimg {
    margin: auto;
    padding: auto;
    margin-right: 6px;
}
nav {
    display: flex;
    align-items: center;
    padding: 0px;
}
.logotext {
    /* position: absolute;
    width: 180px;
    height: 31px;
    left: 156px;
    top: 25px; */
    display: flex;
    align-items: center;
    /* justify-content: center; */
    font-family: 'Magra';
    font-style: normal;
    font-weight: 600;
    font-size: 32px;
    line-height: 39px;
    color: #FFFFFF;
    margin-left: 0px;
}
.nav-list {
    display: flex;
    list-style: none;
    display: flex;
    align-items: center;
    padding: 0px;
    margin-right: 196px;
    width: 527px;
}
.nav-item {
    padding: auto;
    margin: auto;
    justify-content: space-between;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
button {
    width: 103px;
    height: 41px;
    background: #0D606F;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    border: 0px;
    margin-right: 0px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 21px;
    color: #FFFFFF;
}
input {
    width: 892px;
    height: 95px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    margin-left: 120px;
    margin-top: 46px;
    border: 0px;
}
.explore {
    width: 892px;
    height: 422px;
    position: relative;
}
.content {
    position: absolute;
    top: -122px;
    z-index: -1;
}
.section1text {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 700;
    font-size: 20px;
    line-height: 24px;
}
/* input {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    padding: 0px;
    margin: 0px;
    padding-left: 41px;
} */
.to-do {
    width: 892px;
    height: 95px;
    display: flex;
    /* margin-left: 41px; */
    padding: 0px;
    background: rgba(255, 255, 255, 0.7);
    border-radius: 16px;
    align-items: center;
    margin-left: 120px;
    justify-content: space-between;
}
.planning {
    width: 228px;
    height: 59px;
    margin-right: 18px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
}
.youlike {
    font-family: 'Aleo';
    font-style: italic;
    font-weight: 400;
    font-size: 24px;
    line-height: 29px;
    color: #F2785C;
    padding: 0px;
    margin: 0px;
    padding-left: 41px;
}
h2 {
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color: #F2785C;
    text-align: center;
    text-transform: uppercase;
}
.steps {
    /* text-align: center; */
    /* margin-left: 414px; */
    margin-top: 334px;
    text-transform: uppercase;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 40px;
    line-height: 53px;
    color:  #F2785C;
    /* font-style: ; */
}
.rectangle {
    width: 100px;
    height: 100px;
    border-radius: 16px;
    background: #F2785C;
    display: flex;
    margin: auto;
}
.perfect-trip {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
    margin-left: 50px;
}
.stepsimg {
    margin: auto;
    padding: auto;
}
.stepsp {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
    text-align: center;
    margin-left: 0px;
}
/* .stepsblock {
} */
.destinations {
    margin-top: 97px;
}
.destination {
    display: flex;
    justify-content: space-between;
    margin-left: -540px;
    width: 100%;
}
.destinationimg {
    border-radius: 16px;
    margin-right: 60px;
}
.ellips {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background: rgb(242, 120, 92);
    margin-right: 10px;
    margin-top: 24px;
}
.dottes {
    display: flex;
    justify-content: center;
}
.find-more{
    margin-top: 53.5px;
    width: 228px;
    height: 59px;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
    display: flex;
    justify-content: center;
    align-items: center;
}
.hui {
    overflow: hidden;
}
.arrow {
    margin-right: 12.5px;
}
.find-more-button {
    display: flex;
    justify-content: center;
}
.filter {
    width: 1444px;
    height: 1270px;
    background: rgba(255, 255, 255, 0.7);
    margin-top: -1229px; 
    position: absolute;
    z-index: -1;
}
.stories {
    display: block;
    margin: 0px 0px 0px 120px;
    padding-top: 10px;
}
.story {
    display: flex;
    margin-top: 30px;
}
.storyback {
    position: absolute;
    z-index: -10;
}
.storytext {
    padding: 0px;
    margin: 0px;
    width: 760px;
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    color: #0D606F;
}
.storyimg {
    filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    margin-right: 40px;
}
h3 {
    font-family: 'Aleo';
    font-style: normal;
    font-weight: 400;
    font-size: 35px;
    line-height: 42px;
    color: #0D606F;
    margin: 0px;
    margin-bottom: 24px;
}
.see-more {
    margin-left: -120px;
    margin-top: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 228px;
    height: 59px;
    background: #0D606F;
    box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
    border-radius: 10px;
    font-family: 'Red Hat Text';
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    color: #FFFFFF;
}
.footerp {
    
font-family: 'Red Hat Text';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 21px;

color: #FFFFFf;
padding: 0px;
margin: 0px;
text-align: center;
}
footer {
    margin-top: 0px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 61px;
    margin-top: 43px;
    padding-right: 121.5px;

}
.footerimg {
    display: flex;
    margin-left: 329.4px;
    gap: 24.2px;

}